@charset "UTF-8";
/* CSS Document */
*{
	margin:0;
	padding:0;	
}
body{
	font-size:14px;
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
	line-height: 1.8;
	letter-spacing:.7;
	margin:0;
	padding:0;
	text-align: center;
	display: block;
}
header{
	background-color: #D1373A;
	padding:2% 0;
	margin:0;
}



footer{
	width:100%;
	background-color: #470B0C;
	padding:10px 30px;
}



/*pc*/
@media (min-width: 1025px){
	body{
		font-size:16px;
	}	
	
	nav{
		list-style:none;
		display: flex;
		justify-content:center;
		box-sizing: border-box;
		background-color: #548E59;
	}
	nav li a{
		list-style: none;
		padding:20px 50px 10px 50px;
		text-decoration: none;
		color:#fff;
		display:block;
		font-size:110%;
		height:40px;
		text-align:center;
		border-right:1px dotted #fff;
	}

	nav li:nth-child(1) a {
		border-left:1px dotted #fff;
	}
	.content{
		width:1082px;
		background-color: #C5C3C3;
		margin:0 auto;
		padding:15px 20px;
		box-sizing: border-box;
		text-align:left;
	}

	
}







/*タブレット*/
@media (min-width: 600px){
	
	
	
}
